# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
.env

# Django collectstatic / uploads
static/
staticfiles/
media/
mediafiles/

# IDE
.idea/
.vscode/

# Docker
*.log.env
_postgres_data/
db.sqlite3
